<div class="main">
    <div class="slide">
    <!-- Hobby List Selection -->
    <div id="dropdown2" class="row">
      <div class="input-field hobby-list col s8 offset-s2">
        <div id="hobby-list">
          <p id="cat-name" class="center"></p>
          <!-- Buttons go here -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" src="assets/js/hobby.js"></script>
